<section id="features" class="section-features">

  <div class="row bloc-center" style="text-align:center;overflow:visible;padding:0 3rem">
    <div class="col-sm-3 margin-bott-25">

      <div class="feature-box">
        <i class="feature-box__icon fa fa-users" aria-hidden="true"></i>

        <br />


        <h5 class="u-margin-bottom-small feature-head ">
          Gérer les utilisateurs
        </h5>

        <p>
          Ici vous pouvez ajouter, modifier ou suprimer les utilisateurs.
        </p>
        <button type="button" class="btn btn-outline-warning" mdbWavesEffect routerLink="/listusers">GO</button>


      </div>

    </div>

    <div class="col-sm-3 margin-bott-25">

      <div class="feature-box">
        <i class="feature-box__icon fa fa-question" aria-hidden="true"></i>

        <br />


        <h5 class="u-margin-bottom-small feature-head ">Gérer les questions
        </h5>

        <p>
          Ici vous pouvez ajouter, modifier ou suprimer les questions.
        </p>

        <button type="button" class="btn btn-outline-warning" mdbWavesEffect routerLink="/listquestions">GO</button>

      </div>



    </div>

    <div class="col-sm-3 margin-bott-25">

      <div class="feature-box">
        <i class="feature-box__icon fa fa-trophy" aria-hidden="true"></i>

        <br />


        <h5 class="u-margin-bottom-small feature-head ">Gérer les Quizzes
        </h5>
        <br>
        <p>
          Ici vous pouvez ajouter, modifier ou suprimer les tests.
        </p>

        <button type="button" class="btn btn-outline-warning" mdbWavesEffect routerLink="/quizzes">GO</button>



      </div>
      <!--/.Card-->
    </div>


    <div class="col-sm-3 margin-bott-25">

      <div class="feature-box">
        <i class="feature-box__icon fa fa-list" aria-hidden="true"></i>

        <br />


        <h5 class="u-margin-bottom-small feature-head ">Voir les Quizzes passés
        </h5>

        <p>
          Consulter les quizzes passés.
        </p>

        <button type="button" class="btn btn-outline-warning" mdbWavesEffect routerLink="/listresults">GO</button>

      </div>



    </div>
  </div>
</section>