<div class="container">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Users table</h3>

  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="col-md-12 mx-auto">
        <div class="row">
          <button type="button" class="btn btn-outline-warning" routerLink="/register">
            <i class="fa fa-user-plus"></i> add</button>
        </div>
        <div class="search-div">
          <input class="form-control my-0 py-1 amber-border" [(ngModel)]="searchKey"  placeholder="Search" autocomplete="off">

            <br>

          <div class="mat-elevation-z8">
            <table mdbTable mdbTableScroll bordered="true">
              <thead class="grey white-text">
                <tr>

                  <th scope="col">User name</th>
                  <th scope="col">FirstName</th>

                  <th scope="col">LastName</th>

                  <th scope="col">Email</th>

                  <th scope="col">Créé le</th>
                  <th scope="col">Role</th>
                 <th scope="col">Changer role</th>
                  <th>Opérations</th>

                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let user  of users  | filter:searchKey | paginate: { itemsPerPage:10, currentPage:p} ; let i = index">
                  <td>{{user.userName}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.date| date : 'medium'}}</td>
                  <td>{{user.role}}</td>
                  <td>
                    <button class="btn btn-outline-primary" *ngIf="user.role==='Admin'" (click)="DevenirUser(user)">Devenir user</button>

                    <button class="btn btn-outline-danger" *ngIf="user.role==='User'" (click)="DevenirAdmin(user)">Devenir admin</button>
                  </td>
                  <td>

                    <a (click)="edit(user)" data-toggle="modal" data-target="#edit">
                      <mat-icon>launch</mat-icon>
                    </a>
                     <a (click)="deleteUser(user)" class="text-danger">
                        <mat-icon>delete_outline</mat-icon>
                      </a></td>

                </tr>
              </tbody>
              <tfoot class="grey lighten-5 w-100">
                <tr>
                  <td colspan="8">
                    <pagination-controls (pageChange)="p=$event"></pagination-controls>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal-->
  <div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">


    <div class="modal-dialog modal-dialog-scrollable  modal-lg" role="document">


      <!-- Modal content-->


      <div class="modal-content">


        <div class="modal-header">


          <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>

        </div>

        <div class="modal-body">

          <h5 class="card-header  black-text text-center py-4">
            Modify User
          </h5>
          <!-- Form -->
          <form class="text-center" style="color: #757575;" [formGroup]="ModForm" (ngSubmit)="updateUser( )">
            <input type="text"  formControlName="_id" hidden>

            <div class="md-form">


              <div class="form-row">
                <div class="col">
                  <!-- First name -->
                  <div class="input-field col s6">
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First-name"
                      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First name is required</div>
                    </div>

                  </div>
                </div>
                <div class="col">
                  <!-- Last name -->
                  <div class="input-field col s6">
                    <input type="text" id="materialRegisterFormLastName" class="form-control" formControlName="lastName"
                      placeholder="Last-name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last name is required</div>
                    </div>

                  </div>
                </div>
              </div>


              <!-- User name -->

              <div class="input-field col s6">
                <input type="text" id="materialRegisterFormUserName" class="form-control" formControlName="userName"
                  placeholder="User-name" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                  <div *ngIf="f.userName.errors.required">User name is required</div>
                </div>

              </div>

              <!-- E-mail -->
              <div class="input-field col s6">
                <input type="email" id="materialRegisterFormEmail" class="form-control" formControlName="email"
                  [pattern]="emailPattern" placeholder="E-mail" data-error="Invalid email!!" required
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                </div>

              </div>
              <!-- Password -->
              <div class="input-field col s6">
                <input type="password" id="materialRegistreFormPassword" class="form-control" formControlName="password"
                  placeholder="Password" required minlength="8"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>

                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  At least 8 characters
                </small>
              </div>

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              <button class="btn btn-outline-info btn-rounded  my-4 waves-effect z-depth-0" type="submit">Save
                changes</button>


              <p><a href="/login" class="blue-text">Sign In</a></p>

            </div>
          </form>
          <!-- Form -->

        </div>
      </div>


    </div>


  </div>