a {
    color: #eea70d;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.card{
    list-style-type: none;
    padding: 30px;
}