.header {
    height: 90vh;
    background-image: linear-gradient( to right bottom, rgba(0, 4, 4, 0.8), rgba(0, 0, 0, 0.9)), url(../../../../assets/images/home-page/14.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
   // -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
   // clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
}

 