<div class="home-container text-center" id="content">
  <section id="features " class="section-features">

    <img src="../../../../assets/images/title _line_category_1@1x.png">
    <h1 class="titre display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp"> A TOI DE CHOISIR </h1>
    <hr>
    <!---->
    <div class="row bloc-center" style="text-align:center;overflow:visible;padding:0 3rem">
      <div class="col-sm-4 margin-bott-25">

        <div class="feature-box ">
          <img src="../../../../assets/images/csharp-01.png" class="img-fluid  rounded mx-auto d-block" alt="...">



          <a class="button" routerLink="/listCatTest/csharp">QUIZ EN C#</a>


        </div>

      </div>

      <div class="col-sm-4 margin-bott-25">

        <div class="feature-box ">
          <img src="../../../../assets/images/java.png" class=" img-fluid rounded mx-auto d-block" alt="...">



          <a class="button" mdbWavesEffect routerLink="/listCatTest/java">QUIZ EN JAVA</a>


        </div>

      </div>


      <div class="col-sm-4 margin-bott-25">

        <div class="feature-box ">
          <img src="../../../../assets/images/nodejs-square-200.png" class=" img-fluid rounded mx-auto " alt="...">





          <a class="button" mdbWavesEffect routerLink="/listCatTest/nodejs">QUIZ EN NODE JS</a>


        </div>

      </div>

      <div class="col-sm-4 margin-bott-25">

        <div class="feature-box border border-danger">
          <img src="../../../../assets/images/angular.png" class="img-fluid  rounded mx-auto d-block" alt="...">


          <a class="button" mdbWavesEffect routerLink="/listCatTest/angular">QUIZ EN ANGULAR</a>


        </div>

      </div>
      <div class="col-sm-4 margin-bott-25">

        <div class="feature-box ">
          <img src="../../../../assets/images/html5-1.png" class=" img-fluid rounded mx-auto d-block" alt="...">

          <a class="button" mdbWavesEffect routerLink="/listCatTest/html">QUIZ EN HTML5</a>

        </div>

      </div>
      <div class="col-sm-4 margin-bott-25">

        <div class="feature-box ">
          <img src="../../../../assets/images/js.png" class=" img-fluid rounded mx-auto d-block" alt="...">



          <a class="button" mdbWavesEffect routerLink="/listCatTest/JAVASCRIPT"> QUIZ EN JS</a>


        </div>

      </div>

    </div>
    <div class="row " style="text-align:center;overflow:visible;padding:2 5rem">

      <div class="col-sm-12 bloc-center"><a routerLink="/categorie" class="buton  buton--red"><strong>Tous les
            quiz</strong></a></div>
    </div>

  </section>
</div>